@font-face {
  font-family: "Restart";
  src: url("./static/fonts/NanumRestart.ttf") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "KNPSKkomi-Regular00";
  src: url("./static/fonts/KNPSKkomi.otf") format("woff");
  font-weight: normal;
  font-style: normal;
}

.layout {
  margin: 0;
  font-family: "KNPSKkomi-Regular00", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header-box {
  margin: 0;
  font-family: "Restart", "KNPSKkomi-Regular00", -apple-system,
    BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
